@model Seekerz.Models.TaskToDo

@{
    ViewData["Title"] = "Create";
}

<h2>Create A Task</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewTask" class="control-label"></label>
                <input asp-for="NewTask" class="form-control" />
                <span asp-validation-for="NewTask" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompleteDate" class="control-label"></label>
                <input asp-for="CompleteDate" class="form-control" />
                <span asp-validation-for="CompleteDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsCompleted" /> @Html.DisplayNameFor(model => model.IsCompleted)
                    </label>
                </div>
            </div>*@
            @*<div class="form-group">
                <label asp-for="JobId" class="control-label"></label>
                <select asp-for="JobId" class ="form-control" asp-items="ViewBag.JobId"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
