@model IEnumerable<Seekerz.Models.TaskToDo>

@{
    ViewData["Title"] = "Index";
}

<h3 class="Mono">Tasks To Be Completed</h3>

<p>
   
</p>
<table class="table">
    <thead>
       
    </thead>
    <br />
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a  asp-action="Details" asp-route-id="@item.TaskToDoId">@Html.DisplayFor(modelItem => item.NewTask)</a>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompleteDate)
            </td>
           
        </tr>
}
    </tbody>
</table>
