@model IEnumerable<Seekerz.Models.TaskToDo>

@{
    ViewData["Title"] = "Index";
}

<h2 class="Mono">Tasks To Be Completed</h2>

<p>
   
</p>
<table class="table">
    <thead>
        @*<tr>
            <th>
                Tasks    
            </th>
            <th>
                Date To Be Completed By
            </th>
           
            <th></th>
        </tr>*@
    </thead>
    <br />
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a  asp-action="Details" asp-route-id="@item.TaskToDoId">@Html.DisplayFor(modelItem => item.NewTask)</a>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompleteDate)
            </td>
           
        </tr>
}
    </tbody>
</table>
