@model IEnumerable<Seekerz.Models.Job>

@{
    ViewData["Title"] = "Home Page";
}

<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

<h3 class="Mono">Welcome To Seekerz!</h3>

<p class="Mono">The app that simplifies and organizes the job hunt process for the active Job Seeker. </p>

<br />
<br />
<div class="outerouterouterJoblist">
    <div class="OuterOuterJobList">
        <div class="JobListOuter">
            <div class="JobListCard">
                <div class="JobListCardCenter">
                    <div class="JobListCardInner">
                        <table class="table">
                            <thead>
                                <h4 class="card-title Mono">Active Positions</h4>
                            </thead>
                            <br />
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <p><a class="activejoblist" asp-controller="Jobs" asp-action="Details" asp-route-id="@item.JobId">@Html.DisplayFor(modelItem => item.Position)</a></p>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div id="buttondiv">
            <a asp-controller="Jobs" asp-action="Create" class="btn btn-success btn-sm CreateButton"><i class="fas fa-plus"></i></a>
        </div>
    </div>
</div>
<br />
<br />




   


