@model IEnumerable<Seekerz.Models.Job>

@{
    ViewData["Title"] = "Home Page";
}

<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

<h3 class="Mono">Welcome To Seekerz!</h3>

<p class="Mono">The app to simplify and organize the job hunt process for the active Job Seeker. </p>
<br />
<br />
<br />

<h4>@*These Are Your Active Jobs.*@</h4>
<div class="card" style="width: 20rem;">
    <div class="card-body">
        <table class="table">
            <thead>
                @*<tr>*@
                <h4 class="card-title Mono">
                    @*<th>*@
                    Your Active Positions
                    @*</th>*@
                </h4>
                @*</tr>*@
            </thead>
            <tbody>
                
                    @foreach (var item in Model)
                    {
                       <ul> <h6 > <a  class="activejoblist" asp-controller="Jobs" asp-action="Details" asp-route-id="@item.JobId">@Html.DisplayFor(modelItem => item.Position)</a></h6>
                </ul>
                    @*<tr>
                <td>
                    <h6 class="card-subtitle mb-2 text-muted"> <a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.JobId">@Html.DisplayFor(modelItem => item.Position)</a></h6>
                </td>
            </tr>*@
                }
            </tbody>
        </table>
        <p>
            <a asp-controller="Jobs" asp-action="Create" class="btn btn-success btn-sm CreateButton">Create New Position</a>
        </p>
        </div>
    </div>
