@model IEnumerable<Seekerz.Models.Job>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @*<p>@string.Format(pos.Position)</p>*@
            <tr>
                <td>
                    <a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.JobId">@Html.DisplayFor(modelItem => item.Position)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
