@model IEnumerable<Seekerz.Models.QA>

@{
    ViewData["Title"] = "Index";
}

<link href="https://fonts.googleapis.com/css?family=B612+Mono" rel="stylesheet">

<h3 class="Mono">Frequently Asked Interview Questions</h3>


<table class="table">
   <br />
    <br />
    <tbody>
            @foreach (var item in Model)
            {
        <p><a asp-action="Details" asp-route-id="@item.QAId"> @Html.DisplayFor(modelItem => item.Question)</a></p>
                
             }
    </tbody>
</table>
<br />
<p>
    <a asp-action="Create" class="btn btn-success btn-sm CreateButton"><i class="fas fa-plus"></i></a>
</p>
