@model IEnumerable<Seekerz.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h2 class="Mono">Your Companies</h2>
<br />
<br />

<table class="table">
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.CompanyId"> @Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-success btn-sm CreateButton">Create New Company </a>
</p>