@model IEnumerable<Seekerz.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h3 class="Mono">Your Companies</h3>
<br />
<br />

<table class="table">
    
    <tbody>
        @foreach (var item in Model) {
            <p><a asp-action="Details" asp-route-id="@item.CompanyId"> @Html.DisplayFor(modelItem => item.Name)</a></p>
           }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-success btn-sm CreateButton">Create New Company </a>
</p>