@model IEnumerable<Seekerz.Models.Job>

@{
    ViewData["Title"] = "Home Page";
}

<h2 class="Mono">Archived Positions</h2>
<br />
<br />

<table class="table">
    
    <tbody>
        @foreach (var item in Model)
        {
            <p><a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.JobId">@Html.DisplayFor(modelItem => item.Position)</a></p>

        }
    </tbody>
</table>
