@model Seekerz.Models.JobViewModels.JobCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Job.Position" class="control-label"></label>
                <input asp-for="Job.Position" class="form-control" />
                <span asp-validation-for="Job.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.PersonalNotes" class="control-label"></label>
                <input asp-for="Job.PersonalNotes" class="form-control" />
                <span asp-validation-for="Job.PersonalNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.ToldNss" class="control-label"></label>
                <input asp-for="Job.ToldNss" class="form-control" />
                <span asp-validation-for="Job.ToldNss" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>*@
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="Job.CompanyId" class="control-label"></label>
                <select asp-for="Job.CompanyId" class="form-control" asp-items="Model.UsersCompanies"></select>
                <span asp-validation-for="Job.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a> |
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
