@model Seekerz.Models.JobViewModels.JobCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h3 class="Mono">Create A Job</h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCompany">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="input-field">
                <input id="new_company" asp-for="UserCompany.Name" class="form-control" />
                <label for="new_company">Add a New Company</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info CreateButton" />
            </div>
        </form>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">

                <select asp-for="Job.CompanyId" class="form-control" asp-items="Model.UsersCompanies"></select>
                <span asp-validation-for="Job.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                New Position
                <input asp-for="Job.Position" class="form-control" />
                <span asp-validation-for="Job.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                Personal Notes
                <input asp-for="Job.PersonalNotes" class="form-control" />
                <span asp-validation-for="Job.PersonalNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                Reported to NSS?
                <input asp-for="Job.ToldNss" class="form-control" />
                <span asp-validation-for="Job.ToldNss" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info CreateButton" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info BackButton">Back to List</a> 
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
