@model IEnumerable<Seekerz.Models.Job>

@{
    ViewData["Title"] = "Home Page";
}



<div class="card" style="width: 20rem;">
    <div class="card-body">
        <table class="table">
            <thead>
                @*<tr>*@
                <h4 class="card-title Mono">
                    @*<th>*@
                    <br />
                    <br />
                    <br />
                    Active Positions
                    @*</th>*@
                </h4>
                @*</tr>*@
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <h6 class="card-subtitle mb-2 text-muted"> <a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.JobId">@Html.DisplayFor(modelItem => item.Position)</a></h6>
                    @*<tr>
                            <td>
                                <h6 class="card-subtitle mb-2 text-muted"> <a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.JobId">@Html.DisplayFor(modelItem => item.Position)</a></h6>
                            </td>
                        </tr>*@
                }
            </tbody>
        </table>
        <p>
            <a asp-controller="Jobs" asp-action="Create" class="btn btn-success btn-sm CreateButton">Create New Position</a>
        </p>
    </div>
</div>
