@model IEnumerable<Seekerz.Models.Job>

@{
    ViewData["Title"] = "SearchResults";
}

<h2 class="Mono">SearchResults</h2>
@*
    
    View: this is a view fo rthe list of products that comes up when the search bar is entered.
*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.JobId">@Html.DisplayFor(modelItem => item.Position)</a>
                </td>
            </tr>
        }
    </tbody>
</table>